<section class="cart">
  <div class="panel">
    <table class="w-full" *ngIf="cartItems.length">
      <tr class="table-head">
        <th>Nazwa produktu</th>
        <th>Cena produktu</th>
        <th>Ilość</th>
        <th></th>
      </tr>
      <tr class="-item" *ngFor="let item of cartItems; let i = index">
        <td class="text-center">
          <span>{{item?.title}}</span>
        </td>
        <td class="text-center">
          <span>{{item?.price}}</span>
        </td>
        <td class="text-center">
          <span>{{item?.qty}}</span>
        </td>

        <td class="remove">
          <i (click)="remove(item)"
             class="mdi mdi-delete-outline text-brandPrimary lg:text-2xl cursor-pointer"></i>
        </td>
      </tr>
    </table>

    <div class="summary" *ngIf="cartItems.length; else EMPTY">
      <span>Podsumowanie: ${{summaryPrice}}</span>
    </div>

    <ng-template #EMPTY>
      <span class="pt-10 text-center">
        Brak produktów w koszyku
      </span>
    </ng-template>
  </div>
</section>
