.cart {
  @apply mt-10 flex items-center;
  min-height: 70vh;

  @screen md {
    min-height: 90vh;
  }

  .panel {
    @apply w-11/12 mx-auto flex flex-col justify-between;
    min-height: 500px;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0,0,0,.16);

    @screen md {
      @apply w-1/2;
    }

    .summary {
      @apply self-end mr-5;
    }
  }
}
