<nav>
  <div class="container">
    <div class="name">
      <a [routerLink]="['/']">
        e-commerce
      </a>
    </div>

    <div class="panel" [ngClass]="{'active': router.url !== '/'}">
      <div class="auth">
        <a [routerLink]="['account']">
          <i class="mdi mdi-account"></i>
        </a>
      </div>

      <div class="cart">
        <a [routerLink]="['cart']">
          <i class="mdi mdi-cart-outline"></i>
          <span class="badge" *ngIf="cartQty">{{cartQty}}</span>
        </a>
      </div>

      <div class="hamburger" [ngClass]="{'active': openNav}" (click)="openNav = !openNav">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <div class="active-menu" [ngClass]="{'active': openNav}">
    <div class="image">

    </div>

    <div class="nav">
      <ul>
        <li>
          <a (click)="openNav = !openNav" [routerLink]="['']">Home</a>
        </li>
        <li>
          <a (click)="openNav = !openNav" [routerLink]="['']">Shop</a>
        </li>
        <li>
          <a (click)="openNav = !openNav" [routerLink]="['']">About</a>
        </li>
        <li>
          <a (click)="openNav = !openNav" [routerLink]="['']">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
