nav {
  @apply absolute top-0 left-0 text-white w-full;
  z-index: 10;

  .container {
    @apply flex justify-between items-center px-3;

    @screen md {
      @apply px-0;
    }

    .name {
      z-index: 10;
    }

    .panel {
      @apply flex items-center;

      .cart {
        @apply flex items-center mx-2 relative;
        z-index: 10;

        .badge {
          @apply absolute top-0 right-0 text-white bg-black;
          font-size: 10px;
          padding: 2px 7px 1px 7px;
          border-radius: 45%;
          transform: translate(30%, 85%);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
          0 1px 5px 0 rgba(0, 0, 0, 0.12);
        }
      }

      i {
        font-size: 26px;
      }

      .hamburger {
        @apply relative flex justify-end cursor-pointer;
        width: 40px;
        height: 15px;
        z-index: 10;

        span {
          @apply block absolute bg-white;
          height: 2px;
          width: 35px;
          transition: .5s;

          &:nth-of-type(2) {
            top: 5px;
          }

          &:last-of-type {
            top: 10px;
            width: 17px;
          }
        }

        &.active {

          span {

            &:first-of-type {
              opacity: 0;
            }

            &:nth-of-type(2) {
              top: 10px;
              width: 25px;
              transform: rotate(45deg);
            }

            &:nth-of-type(3) {
              width: 25px;
              transform: rotate(-405deg);
            }
          }
        }
      }

      &.active {

        i, a {
          @apply text-black;
        }

        .hamburger {

          span {
            @apply bg-black;
          }
        }
      }
    }
  }

  .active-menu {
    @apply w-full h-screen flex fixed top-0 left-0 overflow-hidden;
    z-index: 9;
    transition: .6s;
    transform: translateY(-100%);

    .image {

      @screen md {
        @apply w-1/2 bg-center bg-cover bg-no-repeat;
        background-image: url("/assets/images/banner/banner-5.jpg");
      }
    }

    .nav {
      @apply w-full flex items-center;
      background: #e8c19ff5;

      @screen md {
        @apply w-1/2;
      }

      ul {
        @apply ml-20;

        li {
          @apply my-10;
          font-size: 48px;
        }
      }
    }

    &.active {
      transform: translateY(0);
    }
  }
}
