.product-detail {
  @apply flex flex-col text-center;

  @screen md {
    @apply flex-row text-left;
  }

  .swiper {
    height: 50vh;

    @screen md {
      @apply w-1/2 h-screen;
    }

    img {
      @apply h-full;
    }
  }

  .content {

    @screen md {
      @apply mt-20 mx-10;
    }

    h2 {
      @apply mt-3;

      @screen md {
        @apply mt-20 mb-10 text-5xl;
      }
    }

    .price {

      @screen md {
        @apply text-3xl;
      }
    }

    .description {
      color: #969292;
      letter-spacing: 1px;

      @screen md {
        @apply my-10 w-8/12;
      }
    }
  }
}
