<section class="product-detail">
  <div class="swiper">
    <swiper [config]="config">
      <div *ngFor="let slide of productDetail?.background">
        <img [src]="slide" [alt]="productDetail?.title">
      </div>
    </swiper>
  </div>

  <div class="content">
    <h2>{{productDetail?.title}}</h2>

    <span class="price">${{productDetail?.price}}</span>

    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum illo ipsum magnam provident soluta! Ad deserunt
      explicabo possimus praesentium quaerat qui quisquam reiciendis, saepe sunt vitae! Ad alias autem corporis?
    </p>

    <button (click)="addToCart(productDetail)">ADD TO CART</button>
  </div>
</section>
