/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700;900&display=swap');

body {
  font-size: 16px;
  font-family: 'Alegreya', serif;
}

h1 {
  font-size: 34px;

  @screen md {
    font-size: 38px;
  }

  @screen lg {
    font-size: 50px;
  }
}

h2 {
  font-size: 24px;

  @screen md {
    font-size: 28px;
  }

  @screen lg {
    font-size: 32px;
  }
}

h3 {
  font-size: 22px;

  @screen md {
    font-size: 26px;
  }

  @screen lg {
    font-size: 30px;
  }
}

.title-section {
  @apply text-center my-5;
}

button {
  @apply bg-black text-white mt-5 py-3 px-10 cursor-pointer text-xs;
  letter-spacing: 2px;

  @screen md {
    @apply text-base;
  }
}
