.banner {
  @apply h-screen bg-center bg-cover bg-no-repeat relative;
  overflow: hidden;
  background-image: url("/assets/images/banner/banner-5.jpg");

  @screen md {
    background-image: url("/assets/images/banner/banner-3.jpg");
  }

  header {
    @apply absolute text-white w-10/12 text-right;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -5%);

    @screen md {
      @apply w-1/4 text-left;
      top: 50%;
      left: auto;
      transform: translate(0, -50%);
    }

    h3 {
      line-height: 90%;
    }
  }
}

.favorite-products {

  .categories {
    @apply my-10 flex justify-center;

    .tab {
      @apply mx-5 uppercase cursor-pointer;
      letter-spacing: 1px;
      transition: .3s;
      color: rgba(0, 0, 0, .2);

      &:hover {
        color: rgba(0, 0, 0, .5);
      }

      &.active {
        color: rgba(0, 0, 0, .8);
      }
    }
  }
}
