<ng-container *ngIf="route.children.length === 0">
  <section class="banner">
    <div class="container">
      <header>
        <h1>Lorem ipsum</h1>
        <h3>is simply dummy text of the printing and typesetting industry.</h3>

        <button>SHOP</button>
      </header>
    </div>
  </section>

  <section class="favorite-products">
    <h2 class="title-section">
      Favorite products
    </h2>

    <div class="categories">
      <div class="tab"
           (click)="selectedCategory = category"
           [class.active]="selectedCategory === category"
           *ngFor="let category of categories?.categories">
        {{category}}
      </div>
    </div>
    <app-products-list [products]="favoriteProducts?.products[selectedCategory]"></app-products-list>
  </section>
</ng-container>
<router-outlet></router-outlet>
