.container {
  @apply flex flex-col justify-center;
  min-height: 90vh;

  h2 {
    @apply text-center;
  }

  form {
    @apply mt-5;


    @screen md {
      @apply w-3/4 mx-auto;
    }

    @screen lg {
      @apply w-1/2 mx-auto;
    }

    @screen xl {
      @apply w-1/3 mx-auto;
    }

    input {
      @apply w-full px-2 py-3 mt-2;
    }

    .button-container {
      @apply flex flex-col justify-center text-center;

      a {
        @apply mb-5;
        font-size: 16px;
      }

      button {
        @apply py-3;
      }

      .nav-button {

        a {
          @apply mx-2 my-4 underline;
        }
      }
    }
  }

}
