<div class="container">
  <h2>Zaloguj się</h2>
  <form [formGroup]="loginForm" autocomplete="on" (ngSubmit)="login()">
    <label for="login">Adres e-mail <span class="required">*</span></label>
    <input formControlName="email" type="text" id="login" placeholder="Adres e-mail" autocomplete="e-mail">
    <p class="error">{{ loginForm.get('email').errors?.error }}</p>
    <label for="password">Hasło <span class="required">*</span></label>
    <input formControlName="password" type="password" id="password" placeholder="Hasło" autocomplete="password">
    <p class="error">{{ loginForm.get('password').errors?.error }}</p>


    <div class="button-container">
      <button type="submit">Zaloguj się</button>

      <div class="nav-button flex justify-center">
        <a [routerLink]="['/reset']">Zapomniałem hasła</a>
        <a [routerLink]="['/rejestracja']">Zarejestruj się</a>
      </div>
    </div>
  </form>

</div>
