<section class="products container">
  <div class="product" *ngFor="let product of products">
    <a [routerLink]="[product?.slug]">
      <img [src]="product?.image" [alt]="product?.title">
      <h2 class="title">{{product?.title}}</h2>
      <h4 class="price">${{product?.price}}</h4>
    </a>
  </div>
</section>
