.products {
  @apply flex flex-col flex-wrap items-center;

  @screen md {
    @apply flex-row justify-around;
  }

  .product {
    @apply text-center w-10/12;
    margin: 2% .5%;

    @screen md {
      width: 30%;
    }

    img {
      @apply w-full;
      object-fit: cover;
      height: 200px;
      transition: .3s;

      &:hover {
        transform: scale(1.01);
        box-shadow: 0 0 5px 5px #ddd;
      }

      @screen md {
        height: 400px;
      }
    }
  }
}
